<Router AppAssembly="typeof(MauiProgram).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="routeData" DefaultLayout="typeof(Layout.FinderLayout)" />
    </Found>
    <NotFound>
        <p>页面未找到</p>
    </NotFound>
</Router>
